/* Type Selectors ------------------ */

* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue" Helvetica, Arial, sans-serif;
}

.main-header {
  padding-top: 0px; /* cambia la posicion de las letras de arriba */
  height: 825px;
  background: url('../img/IMG_8366.jpg') no-repeat center;
  background-size: cover;
  line-height: 2.3;
  font-weight: normal;
}

/*h1 {
  font-size: 3.625rem; /* 90px / 16px */
  /*color: rgba(255, 255, 255, .1); /* Alpha value of "1" makes element fully opaque */*/
  /*text-transform: uppercase;*/
  /*font-weight: normal;*/
  /*line-height: 1.3;*/
  /*padding-top: 710px; /*cambia la posicion de la letra de luis primera pagina abajo*/*/
  /*font-size: 45px; /*tamano de la letra de mi primera pagina Luis gonzalez photography */*/
  /*text-shadow: 5px 8px 10px #333; /* esto le pone sombra a mis letras de la primara pagina */*/
}*/

/* Photography letters */

h2 {
  font-size: 53px;

  font-weight: normal; /* arregla algo en about */
}

h3 {
  font-size: 20px; /* Description below */
}

/* Class Selectors ----------------- */

#menu {
	background: #384047;
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
}
/*
ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 84px;
	text-align: center;
}

ul li a {
	color: #fff;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
}

ul li.selected {
	background: #fff;
}

ul li.selected a {
	color: #384047;
}

select {
	width: 84%;
	margin: 11px  0 11px 2%;
	float: left;
}

button {
	display: inline-block;
	line-height: 18px;
	padding: 0 5px;
	margin: 11px 2% 11px 0;
	float: right;
	width: 10%;*/

#main-footer {
 padding-top: 20px;
 padding-bottom: 10px;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  /*padding-bottom: 500px;*/
}

/*.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}*/

.primary-content,
.main-header {
  text-align: center; /*esto maneja todo principal de mi imagen y letra p1 */
}

.contact1 {
  /*esto arregla la pagina de contacto solo lo verde */
  /*border: 1px solid #000;  /*esto pone un cuadro alrededor */
}

/*.t-border {   /*arregla y desarregla los iconos de facebook */
  /*border-top: 2px solid lightgrey;*/
}*/

/*.your-class {
background-color: rgb(0, 0, 0);
}*/

/* Pseudo-classes ------------------ */

p {
  background-color: none;
  color: black;
  margin-top: 5px;
  display: inline;
  font-size: 20px;
}

ul {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  text-align: center;
}

li {
  display: inline;
  padding: 0 12px;
  border-right: solid 1px;
  margin: 0px 3px;
}


/* Esto anade luces */

a:link {
  color: rgb(255, 169, 73); /*refleja los links de contact */
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}




/*****************************
FOOTER
******************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #3335;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  color: #3333;
}


/*****************************
PAGE: ABOUT
******************************/


 .profile-photo {
  display: block;
  max-width: 650px;
  margin: 0 auto 30px;
  padding-top: 50px;
}



/*****************************
PAGE: CONTACT
******************************/

 .contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  text-align: left;  /*pagina de contactos a la izquierda */
}

 .contact-info a {
  display: block inline-flex;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

 .contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter-wrap.png');
}

/*****************************
COLORS
******************************/

 /*site body  */
body {
  background-color: #000;
  color: #333;
}

/* green header */
header {
  background: #black;
  border-color: #black;
}

/* nav background on mobile */
nav {
  background: #white;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}

/* Media Queries ----------*/

/*@media (max-width: 1024px) {
    width: 190%;
}*/


/*images*/

.sidebar-image-gallery {
   width: 210%;
 }

 .sidebar-image-gallery img:hover {
  opacity: 1;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}


@charset "utf-8";

html, body, div, h3, p, ul, li, img {
  margin: o;
  padding: 0;
}

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body {
  background: black;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container {
  width: 700px;
  margin: 30px auto 0;
}
/*
header {
  background: #42517f;
  border-bottom: 1px solid #000;
}*/

header h3 {
  color: #fff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  word-spacing: 1px;
  text-shadow: 1px 1px 2px #000;
}

#content {
  background: #848c9c;
  background: linear-gradient (to top, #848c9c 0%, #687080 50%, #a7b1c5 100%);
  background: -webkit-linear-gradient (bottom, #848c9c 0%, #687080 50%, #a7b1c5 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.gallery {
  width: 528px;
  margin: auto;
}

.gallery ul {
  list-style: none;
}

.gallery li {
  float: left;
  margin: 10px;
}

.gallery img {
  display: block;
  padding: 5px;
  background: #42517f;
  border: 1px solid #99adeb;
  box-shadow: 1px 1px 2px #000;
}

.gallery img:hover {
  border: 1px solid #fff;
}

footer {
  background: #black;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}
