/* Type Selectors ------------------ */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue" Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625rem; /* 90px / 16px */
  color: rgba(255, 255, 255, .1); /* Alpha value of "1" makes element fully opaque */
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
}

/* Photography letters */

h2 {
  font-size: 53px;
  font-weight: normal;
}

h3 {
  font-size: 20px; /* Description below */
}

/* Class Selectors ----------------- */

.main-header {
  padding-top: 170px;
  height: 850px;

  background: #ffa949  url('../img/IMG_8366.jpg') no-repeat center;
  background-size: cover;
}

#main-footer {
  padding-top: 60px;
 padding-bottom: 60px;
 border-bottom: solid 10px #ffa949;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
}

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}

.primary-content,
.main-header {
  text-align: center;
}

/*.t-border {*/
  /*border-top: 2px solid lightgrey; /*top border styles */*/
/*}*/

/* Pseudo-classes ------------------ */

p {
  background-color: none;
  color: black;
  margin-top: 5px;
  display: inline;
  font-size: 20px;
}

ul {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  text-align: center;
}

li {
  display: inline;
  padding: 0 12px;
  border-right: solid 1px;
  margin: 0px 3px;
}


/* Esto anade luces */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}




/*****************************
FOOTER
******************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*****************************
PAGE: ABOUT
******************************/


 .profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}



/*****************************
PAGE: CONTACT
******************************/

 .contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  text-align: left;
}

 .contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

 .contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/*****************************
COLORS
******************************/

 /*site body  */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  background: #599a68;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}
